.wrapper {
  @mixin container-standard;
  margin-top: 64px;
  margin-bottom: 64px;
}

.disableInternalMargins {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (--md) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  grid-gap: 24px;
  position: relative;
}

.title {
  @mixin font-heading01;
  margin-bottom: 64px;
}
