.solidBlack {
  @mixin font-heading02;
  padding: 0 var(--size_07);
  height: 44px;
  background-color: var(--color_black_01);
  border-radius: 4px;
  color: var(--color_white_01);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  transition: background-color 200ms;

  &:hover {
    background-color: var(--color_black_03);
  }
}

.solidWhite {
  @mixin font-heading02;
  padding: 0 var(--size_07);
  height: 44px;
  background-color: var(--color_white_01);
  border-radius: 4px;
  color: var(--color_black_01);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  transition: border-color 200ms, background-color 200ms, color 200ms;
  border: 1px solid var(--color_white_01);

  &:hover {
    color: var(--color_white_01);
    background-color: var(--color_black_03);
    border-color: var(--color_black_03);
  }
}

.solidGrey {
  @mixin font-heading02;
  padding: 0 var(--size_07);
  height: 44px;
  background-color: rgba(249, 248, 243, 0.2);
  border-radius: 4px;
  color: var(--color_white_01);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  transition: border-color 200ms;
  border: 1px solid rgba(249, 248, 243, 0);

  &:hover {
    border-color: var(--color_white_01);
  }
}

.outlineBlack {
  @mixin font-heading02;
  padding: 0 var(--size_07);
  height: 44px;
  background-color: inherit;
  border-radius: 4px;
  color: var(--color_black_01);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid var(--color_black_03);
  line-height: 1;
  transition: background-color 200ms, color 200ms, border-color 200ms;

  &:hover {
    color: var(--color_white_01);
    border-color: var(--color_black_04);
    background-color: var(--color_black_03);
  }
}

.underlinedBlack {
  @mixin font-heading02;
  padding: 0;
  height: 44px;
  background-color: inherit;
  color: var(--color_black_01);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid var(--color_black_01);
  line-height: 1;
  transition: color 200ms, border-color 200ms;

  &:hover {
    color: var(--color_grey_01);
    border-color: var(--color_grey_01);
  }
}

.extraSmall {
  @mixin font-heading03;
  padding: 0;
  height: 44px;
  background-color: inherit;
  color: var(--color_black_01);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: color 200ms;

  &:hover {
    color: var(--color_grey_01);
  }
}

.sizeSmall {
  width: auto;
  height: 26px;
}

.sizeMedium {
  width: auto;
  height: 36px;
}
